*.idea
*.so
*.csv
*.pyc
*.so
*.dylib
*.info
*.petsc_mat
*.petsc_vec
*.xmf
*.h5
*.egg-info
*~
data*txt
*.log
*.out
*.dat
*.cmd
*.ele
*.face
*.node
*.poly
*.bak
*.log.*
mesh*
*.ipynb_checkpoints
*.lof
*.toc
*.lot
*.aux
*Gauge*.txt
*History*.txt